::ng-deep .dx-button-text {
  font-size: 1em;
  font-weight: bold;
}
::ng-deep .dx-dropdowneditor .dx-texteditor-input {
  font-size: 1em;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 4px;
}



::ng-deep .dx-texteditor-label {
  color: darkblue;
}

.main-toolbar {
  background-color: rgb(228, 236, 246);
  padding-right: 5px;
  padding-left: 5px;
}

.defaultToolbar {
  width: 100%;
  background-color: rgb(228, 236, 246);
  padding-left: 5px;
  padding-right: 5px; 
}

::ng-deep .toolbar-field .dx-texteditor.dx-editor-filled.dx-texteditor-input{
  background-color: whitesmoke
}  

::ng-deep .dx-actionsheet-container .dx-actionsheet-item:not(:last-child) {
  margin-bottom: 10px;
} 

::ng-deep .dx-actionsheet-container .dx-button {
  height: 34px;
} 

::ng-deep .dx-texteditor.dx-editor-outlined.dx-state-readonly .dx-texteditor-input {
  color: rgb(7, 0, 0);
  font-weight: bold;
  background-color: whitesmoke;
}

