::ng-deep .dx-radiogroup {
    padding-left: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    width: 500px;
}

.reportTitle001 {
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px; 
    width: 500px;
    border-top: solid 1px #a5a3a392;
    border-left: solid 1px #a5a3a392;
    border-right: solid 1px #a5a3a392;
    background-color: rgb(209, 213, 250);    
}

.report001 {
    background-color: rgb(234, 235, 247); 
    border: solid 1px #a5a3a392;
}

.rptToolbar001 {
    padding-left: 5px; 
    width: 500px;
    border-bottom: solid 1px #a5a3a392;
    border-left: solid 1px #a5a3a392;
    border-right: solid 1px #a5a3a392;
    background-color: rgb(209, 213, 250);    
}

