// All page class
.data-page {
    height: 100%;
    padding-left: 1px;
    padding-right: 1px;
}

.top-page-toolbar {    
    position: sticky;
    font-size: 14px;
    padding-left: 1px;
    padding-right: 1px;
}

::ng-deep .dx-datagrid-headers {
    //background-color: #c43b3a;
    background-color: lightblue;
    //color: white;
    color: darkblue;
    font-weight: bold;
    font-size: 30px;
}

::ng-deep .dx-tab {
    background-color: white;
    border-bottom-color: rgb(175, 174, 174);
    font-size: 14px;
    border-color: gray;
    border: 1px solid #adadad !important;
}

::ng-deep .dx-tab-selected {
    font-weight: bold;
}

::ng-deep .dx-placeholder {
    margin-left: 10px !important;
}

::ng-deep .dx-searchbox.dx-editor-filled .dx-texteditor-input {
    margin-left: 10px !important;
}

pageFormat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}