.query {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  float: left;
}

.dataQuery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.userQuery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  width: 100%;  
}

.jsonDataString {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: left;
  float: left;
  padding-left: 10px;
  background-color: lightgrey;
  border-style: solid;
  border-color: darkgray;
  width: 40%;
  height: 330px;
  overflow: auto;
}
