<ng-container>
    <dx-popup
        [hideOnOutsideClick]="false"
        [showCloseButton]="true"
        [title]="popUpTitle" 
        [visible]="popUpVisible"
        [height]="popUpHeigth"
        [width]="popUpWidth"                 
        (onHidden)="onHidden()"
        (onShown)="onShown()"
    >  
        <div class="query" > 
            <dx-text-area
                class="dataQuery"
                label="System Query"
                [(value)]="systemQuery" 
                [readOnly]="true"
                [height]="150"   
            ></dx-text-area> 
        
            <dx-text-area
                label="User Query"
                class="userQuery"
                [(value)]="userQuery"
                [height]="180"  
            ></dx-text-area>  

            <dx-toolbar 
                [visible]="true"
                [items]="itemsList"
            ></dx-toolbar>
        </div>
    
        <div class="jsonDataString">
            <pre>{{jsonDataString}}</pre>
        </div> 
    </dx-popup>    
</ng-container>

