<p-dialog
  [(visible)]="visible"
  [header]="formTitle"
  [modal]="!actionsDebugActive"
  [blockScroll]="!actionsDebugActive"
  [closeOnEscape]="false"
  [closable]="false"
  [draggable]="true"
  [resizable]="false"
  [appendTo]="'body'"
  styleClass="gts-form-popup-dialog"
  [maskStyleClass]="actionsDebugActive ? '' : 'gts-modal-mask'"
  [style]="{width: formWidth + 'px', height: formHeight + 'px'}"
  (onShow)="onShow()"
  (onHide)="onHide()">
  <app-gts-form
    [prjId]="prjId"
    [formId]="formId"
    [objectName]="objectName">
  </app-gts-form>
</p-dialog>
