
.utenzaCode {
    font-size: 0.8em;
    margin: 10px;
    color: #b81515;
    float: right;
    text-align: right;
    width: 20%;
    margin-right: 50px;
}

.utenzaDescr {
    font-size: 0.8em;
    color: #0a095e;
    font-weight: bold;
    margin: 10px;
    width: 80%;
}

.logo-soc {
    display: block;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    float: right;
}

.socTopPanel {
    height: 50px;
    background-color: #dde2f5;
}

.socRagioneSociale {
    font-size: 1.5em;
    color: #0a095e;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 12px;
}
