<app-gts-loader></app-gts-loader>

@if (pageReady) {
  <div class="socTopPanel">
    <img class="logo-soc" [src]="socImage" />
    <div class="socRagioneSociale">{{socRagioneSociale}}</div>
  </div>
}
<div>
  <dx-accordion
    [dataSource]="pages"
    [collapsible]="false"
    [multiple]="false"
    [animationDuration]="300"
    [(selectedIndex)]="selectedItemIndex"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onInitialized)="onAccordionInitialized($event)"
    [visible]="showAccordion"
    width="auto"
    height="auto"
    id="page-container"
  >
    <div *dxTemplate="let page of 'title'">
      <div class="utenzaDescr">{{page.UTENZA_DESCR}}</div>
      <div class="utenzaCode">Utenza: {{page.UTENZA_CODE}}</div>
    </div>

    <div *dxTemplate="let page of 'item'">
      @if (page.dataVisible) {
        <div class="pageFormat">
          <app-gts-toolbar
            [prjId]="prjId"
            [formId]="formId"
            [objectName]="'mainToolbar'"
            [customData]="customData"
            (newValueEvent)="gtsDataService.toolbarSelectEvent($event)"
          ></app-gts-toolbar>

          <div [style]="viewStyle">
            @for (element of metaData.tabs; track element) {
              @if (element.visible) {
                <app-gts-tabs
                  [style]="'grid-area: '+element.gridArea"
                  [prjId]="prjId"
                  [formId]="formId"
                  [objectName]="element.objectName"
                ></app-gts-tabs>
              }
            }

            @for (element of metaData.reportsGroups; track element) {
              @if (element.visible) {
                <app-gts-reports
                  [style]="'grid-area: '+element.gridArea"
                  [prjId]="prjId"
                  [formId]="formId"
                  [fieldGrpId]="element.fieldGrpId"
                ></app-gts-reports>
              }
            }

            @for (element of metaData.toolbars; track element) {
              @if (element.visible && element.objectName != 'mainToolbar' && !element.toolbarFlagSubmit) {
                <app-gts-toolbar
                  [style]="'grid-area: '+element.gridArea"
                  [prjId]="prjId"
                  [formId]="formId"
                  [objectName]="element.objectName"
                  [customCssClass]="element.customCssClass"
                  (newValueEvent)="gtsDataService.toolbarSelectEvent($event)"
                ></app-gts-toolbar>
              }
            }

            @for (element of metaData.grids; track element) {
              @if (element.visible) {
                <app-gts-grid
                  [style]="'grid-area: '+element.gridArea"
                  [prjId]="prjId"
                  [formId]="formId"
                  [objectName]="element.objectName"
                ></app-gts-grid>
              }
            }

            @for (element of metaData.forms; track element) {
              @if (element.visible && !element.groupShowPopUp) {
                <app-gts-form
                  [style]="'grid-area: '+element.gridArea"
                  [prjId]="prjId"
                  [formId]="formId"
                  [objectName]="element.objectName"
                ></app-gts-form>
              }
              @if (element.visible && element.groupShowPopUp) {
                <app-gts-form-popup
                  [prjId]="prjId"
                  [formId]="formId"
                  [objectName]="element.objectName"
                ></app-gts-form-popup>
              }
            }
          </div>

          <app-gts-message
            [prjId]="prjId"
            [formId]="formId"
          ></app-gts-message>

          @if (showPdf) {
            <app-gts-loader></app-gts-loader>
            <app-gts-pdf
              [base64PdfStream]="pdfFileData"
            ></app-gts-pdf>
          }

        </div>
      }

    </div>
  </dx-accordion>
</div>

@if (chartVisible) {
  <dx-popup
    [hideOnOutsideClick]="true"
    [showCloseButton]="true"
    [(visible)]="chartVisible"
    [title]="chartTitle"
    [height]="500"
    [width]="800"
    [resizeEnabled]="true"
  >
    <dx-chart
      id="chart"
      [dataSource]="chartDS">
      @if (showACS) {
        <dxi-series
          argumentField="MESE_CONSUMO"
          valueField="RIS_KWH"
          name="Riscaldamento"
          type="bar"
          color="#66bb6a"
        ></dxi-series>
        <dxi-series
          argumentField="MESE_CONSUMO"
          valueField="ACS_KWH"
          name="Acqua Calda Sanitaria"
          type="bar"
          color="#66bbff"
        ></dxi-series>
      }
      <dxi-series
        argumentField="MESE_CONSUMO"
        valueField="TOT_KWH"
        name="Totale Consumi"
        type="bar"
        color="#ffaa66"
      ></dxi-series>
    </dx-chart>
  </dx-popup>
}
