<div class="gts-debug-container">
  <!-- Header con controlli debug -->
  <div class="debug-header">
    <div class="debug-controls">
      <ion-button
        (click)="onActionDebugStart()"
        [disabled]="actionDebugActive"
        color="success"
        size="small"
      >
        <ion-icon slot="start" name="play-circle"></ion-icon>
        Start Debug
      </ion-button>

      <ion-button
        (click)="onActionDebugStop()"
        [disabled]="!actionDebugActive"
        color="danger"
        size="small"
      >
        <ion-icon slot="start" name="stop-circle"></ion-icon>
        Stop Debug
      </ion-button>

      <div class="debug-status" [class.active]="actionDebugActive">
        <span class="status-icon">●</span>
        <span>{{ actionDebugMessage }}</span>
      </div>
    </div>

    <!-- Page Selector -->
    @if (pages.length > 0) {
      <div class="page-selector">
        <label>Page:</label>
        <ion-select
          [(ngModel)]="selectedPage"
          (ionChange)="onPageChange()"
          interface="popover"
        >
          @for (page of pages; track page.prjId + page.formId) {
            <ion-select-option [value]="page">{{ page.title }}</ion-select-option>
          }
        </ion-select>
      </div>
    }
  </div>

  <!-- Tabs -->
  <div class="tabs-container">
    <div class="debug-tabs">
      <ion-segment [(ngModel)]="activeTabIndex" (ionChange)="onTabChange()">
        <ion-segment-button value="0">
          <ion-label>MetaData</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>DB Data</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Action Log</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>Rules</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- Tab Content -->
    <div class="tab-content">
      <!-- Tab 1: MetaData - Layout a 2 pannelli -->
      @if (activeTabIndex === '0' && selectedPage) {
        <div class="metadata-container">
          <!-- Category Selector -->
          <div class="category-selector">
            <label>Category:</label>
            <ion-select
              [(ngModel)]="selectedMetaDataCategory"
              (ionChange)="onMetaDataCategoryChange()"
              interface="popover"
            >
              @for (cat of metaDataCategories; track cat.value) {
                <ion-select-option [value]="cat.value">{{ cat.label }}</ion-select-option>
              }
            </ion-select>
            <span class="record-count">({{ metaDataRows.length }} records)</span>
          </div>

          <!-- Layout a 2 pannelli: Griglia a sinistra, JSON a destra -->
          <div class="metadata-split-layout">
            <!-- Pannello sinistro: Griglia -->
            <div class="metadata-grid-panel">
              @if (selectedMetaDataCategory === 'actions') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="objectName"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Object Name</th>
                      <th style="width: 80px">Count</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.objectName }}</td>
                      <td>{{ row.actions?.length || 0 }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              }

              @if (selectedMetaDataCategory === 'condRules') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="condId"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 60px">ID</th>
                      <th>Description</th>
                      <th style="width: 100px">Value</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.condId }}</td>
                      <td>{{ row.condDescr }}</td>
                      <td>{{ row.condValue }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              }

              @if (selectedMetaDataCategory === 'dataSets') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="dataSetName"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>DataSet Name</th>
                      <th style="width: 80px">SQL ID</th>
                      <th style="width: 50px">SQL</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.dataSetName }}</td>
                      <td>{{ row.sqlId }}</td>
                      <td>
                        <ion-button size="small" fill="clear" (click)="showMetaDataSQL(row); $event.stopPropagation()">
                          <ion-icon name="document-text-outline"></ion-icon>
                        </ion-button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              }

              @if (selectedMetaDataCategory === 'pageFields') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="pageFieldName"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Page Field Name</th>
                      <th>Label</th>
                      <th style="width: 120px">DataSet</th>
                      <th style="width: 80px">Value</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.pageFieldName }}</td>
                      <td>{{ row.pageFieldLabel }}</td>
                      <td>{{ row.dataSetName }}</td>
                      <td>{{ row.value }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              }

              @if (selectedMetaDataCategory === 'grids') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="objectName"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Object Name</th>
                      <th style="width: 120px">DataSet</th>
                      <th style="width: 80px">Cols</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.objectName }}</td>
                      <td>{{ row.dataSetName }}</td>
                      <td>{{ row.columns?.length || 0 }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              }

              @if (selectedMetaDataCategory === 'forms') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="groupId"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 80px">Group ID</th>
                      <th>Object Name</th>
                      <th style="width: 80px">Fields</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.groupId }}</td>
                      <td>{{ row.objectName || row.formName }}</td>
                      <td>{{ row.fields?.length || 0 }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              }

              @if (selectedMetaDataCategory === 'toolbars') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="objectName"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 80px">Toolbar ID</th>
                      <th>Object Name</th>
                      <th style="width: 80px">Items</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.toolbarId }}</td>
                      <td>{{ row.objectName }}</td>
                      <td>{{ row.items?.length || 0 }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              }

              @if (selectedMetaDataCategory === 'tabs') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="tabIndex"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 60px">Index</th>
                      <th>Text</th>
                      <th>Object Name</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.tabIndex }}</td>
                      <td>{{ row.tabText || row.text }}</td>
                      <td>{{ row.objectName }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              }

              @if (selectedMetaDataCategory === 'views') {
                <p-table
                  [value]="metaDataRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="450px"
                  selectionMode="single"
                  [(selection)]="selectedMetaDataRow"
                  dataKey="viewName"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>View Name</th>
                      <th>Description</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr [pSelectableRow]="row" [class.row-selected]="selectedMetaDataRow === row">
                      <td>{{ row.viewName || row.objectName }}</td>
                      <td>{{ row.viewDescr || row.description }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              }
            </div>

            <!-- Pannello destro: JSON Viewer -->
            <div class="metadata-json-panel">
              <div class="json-panel-header">
                <span class="json-panel-title">JSON Data</span>
                @if (selectedMetaDataRow) {
                  <ion-button size="small" fill="clear" (click)="copyJsonToClipboard(selectedMetaDataRow)" title="Copy JSON">
                    <ion-icon name="copy-outline"></ion-icon>
                  </ion-button>
                }
              </div>
              <div class="json-panel-content">
                @if (selectedMetaDataRow) {
                  <pre class="json-code">{{ selectedMetaDataRow | json }}</pre>
                } @else {
                  <div class="json-placeholder">
                    Select a row to view JSON data
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      }

      <!-- Tab 2: DB Data -->
      @if (activeTabIndex === '1' && selectedPage && selectedPage.adapters.length > 0) {
        <div class="dbdata-container">
          <!-- Adapter Selector -->
          <div class="adapter-selector">
            <label>Adapter:</label>
            <ion-select
              [(ngModel)]="selectedAdapter"
              (ionChange)="onAdapterChange()"
              interface="popover"
            >
              @for (adapter of selectedPage.adapters; track adapter.dataAdapter) {
                <ion-select-option [value]="adapter">{{ adapter.dataAdapter }}</ion-select-option>
              }
            </ion-select>
          </div>

          @if (selectedAdapter) {
            <!-- DataSet List -->
            <div class="dataset-list">
              <h4>DataSets ({{ selectedAdapter.dataSets.length }})</h4>
              <div class="dataset-items">
                @for (ds of selectedAdapter.dataSets; track ds.dataSetName) {
                  <div
                    class="dataset-item"
                    [class.selected]="selectedDataSet === ds"
                    (click)="onDataSetSelect(ds)"
                  >
                    <div class="dataset-name">{{ ds.dataSetName }}</div>
                    <div class="dataset-count">{{ ds.rows?.length || 0 }} rows</div>
                    <ion-button size="small" fill="clear" (click)="showDataSetSQL(ds); $event.stopPropagation()">
                      <ion-icon name="document-text-outline"></ion-icon>
                    </ion-button>
                  </div>
                }
              </div>
            </div>

            <!-- DataSet Rows -->
            @if (selectedDataSet && dataSetRows.length > 0) {
              <div class="dataset-grid">
                <h4>{{ selectedDataSet.dataSetName }} Data</h4>
                <p-table
                  [value]="dataSetRows"
                  [rowHover]="true"
                  [showGridlines]="true"
                  [scrollable]="true"
                  scrollHeight="400px"
                  (onRowDblClick)="showRowJson($event)"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      @for (col of dataSetRows[0] | keyvalue; track col.key) {
                        <th>{{ col.key }}</th>
                      }
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr>
                      @for (col of row | keyvalue; track col.key) {
                        <td>{{ col.value }}</td>
                      }
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            }
          }
        </div>
      }

      <!-- Tab 3: DB Action Log -->
      @if (activeTabIndex === '2' && selectedPage) {
        <div class="dblog-container">
          <div class="dblog-header">
            <span class="dblog-count">{{ dbLogRows.length }} calls</span>
          </div>

          <div class="dblog-split-layout">
            <!-- Left Panel: Grid -->
            <div class="dblog-grid-panel">
              <p-table
                [value]="dbLogRows"
                [rowHover]="true"
                [showGridlines]="true"
                [scrollable]="true"
                scrollHeight="500px"
                selectionMode="single"
                [(selection)]="selectedLogRow"
                dataKey="logDate"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 40px">#</th>
                    <th style="width: 70px">Time</th>
                    <th style="width: 70px">PrjId</th>
                    <th style="width: 60px">FormId</th>
                    <th style="width: 110px">Route</th>
                    <th style="width: 130px">Action</th>
                    <th style="width: 110px">Target</th>
                    <th style="width: 60px">SQL</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                  <tr [pSelectableRow]="row" [class.row-selected]="selectedLogRow === row"
                      [class.row-getdata]="row.action === 'getData'"
                      [class.row-execproc]="row.action === 'execProc'"
                      [class.row-dspost]="row.action === 'dsPost'">
                    <td class="cell-index">{{ getLogRowIndex(row) }}</td>
                    <td class="cell-time">{{ formatTime(row.logDate) }}</td>
                    <td>{{ row.prjId }}</td>
                    <td>{{ row.formId }}</td>
                    <td class="cell-route">{{ row.route || '-' }}</td>
                    <td class="cell-action">{{ getActionLabel(row) }}</td>
                    <td class="cell-target">{{ getTargetLabel(row) }}</td>
                    <td class="cell-sql">
                      @if (hasAnySqlId(row)) {
                        <ion-button size="small" fill="clear" (click)="showLogSql(row); $event.stopPropagation()" title="View SQL">
                          <ion-icon name="code-outline"></ion-icon>
                        </ion-button>
                      }
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="8" class="empty-message">No server calls recorded yet</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            <!-- Right Panel: Detail -->
            <div class="dblog-detail-panel">
              <div class="json-panel-header">
                <span class="json-panel-title">Call Detail</span>
                @if (selectedLogRow) {
                  <div class="detail-actions">
                    @if (selectedLogRow.sqlId) {
                      <ion-button size="small" fill="clear" (click)="showDbLogSQL(selectedLogRow)" title="View SQL Code">
                        <ion-icon name="code-outline"></ion-icon>
                      </ion-button>
                    }
                    <ion-button size="small" fill="clear" (click)="copyJsonToClipboard(selectedLogRow)" title="Copy JSON">
                      <ion-icon name="copy-outline"></ion-icon>
                    </ion-button>
                  </div>
                }
              </div>
              <div class="json-panel-content">
                @if (selectedLogRow) {
                  <div class="detail-fields">
                    <div class="detail-row">
                      <span class="detail-label">Time</span>
                      <span class="detail-value">{{ formatTime(selectedLogRow.logDate) }}</span>
                    </div>
                    <div class="detail-row">
                      <span class="detail-label">User</span>
                      <span class="detail-value">{{ selectedLogRow.user || '-' }}</span>
                    </div>
                    <div class="detail-row">
                      <span class="detail-label">Route</span>
                      <span class="detail-value route-badge">{{ selectedLogRow.route || '-' }}</span>
                    </div>
                    <div class="detail-row">
                      <span class="detail-label">Action</span>
                      <span class="detail-value">{{ getActionLabel(selectedLogRow) }}</span>
                    </div>
                    @if (selectedLogRow.dataAdapter) {
                      <div class="detail-row">
                        <span class="detail-label">Adapter</span>
                        <span class="detail-value">{{ selectedLogRow.dataAdapter }}</span>
                      </div>
                    }
                    @if (selectedLogRow.dataSetName) {
                      <div class="detail-row">
                        <span class="detail-label">DataSet</span>
                        <span class="detail-value">{{ selectedLogRow.dataSetName }}</span>
                      </div>
                    }
                    @if (selectedLogRow.sqlId) {
                      <div class="detail-row">
                        <span class="detail-label">SQL ID</span>
                        <span class="detail-value sql-id-link" (click)="showDbLogSQL(selectedLogRow)">{{ selectedLogRow.sqlId }}</span>
                      </div>
                    }
                    @if (selectedLogRow.connCode) {
                      <div class="detail-row">
                        <span class="detail-label">Connection</span>
                        <span class="detail-value">{{ selectedLogRow.connCode }}</span>
                      </div>
                    }
                  </div>
                  @if (selectedLogRow.dataSets && selectedLogRow.dataSets.length > 0) {
                    <div class="detail-section">
                      <div class="detail-section-title">DataSets</div>
                      @for (ds of selectedLogRow.dataSets; track ds.dataSetName) {
                        <div class="detail-dataset-row">
                          <span class="ds-name">{{ ds.dataSetName }}</span>
                          @if (ds.sqlId) {
                            <span class="ds-sqlid sql-id-link" (click)="showDbLogSQL({sqlId: ds.sqlId, action: 'getData'})">SQL: {{ ds.sqlId }}</span>
                          }
                        </div>
                      }
                    </div>
                  }
                  <div class="detail-section">
                    <div class="detail-section-title">Parameters</div>
                    <pre class="json-code">{{ selectedLogRow.params | json }}</pre>
                  </div>
                  @if (selectedLogRow.sqlParams) {
                    <div class="detail-section">
                      <div class="detail-section-title">SQL Params</div>
                      <pre class="json-code">{{ selectedLogRow.sqlParams | json }}</pre>
                    </div>
                  }
                } @else {
                  <div class="json-placeholder">
                    Select a row to view call details
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      }

      <!-- Tab 4: Rules -->
      @if (activeTabIndex === '3' && selectedPage) {
        <div class="rules-container">
          <div class="rules-header">
            <span class="rules-count">{{ rulesRows.length }} rules</span>
          </div>
          <p-table
            [value]="rulesRows"
            [rowHover]="true"
            [showGridlines]="true"
            [scrollable]="true"
            scrollHeight="550px"
            selectionMode="single"
            [(selection)]="selectedRuleRow"
            dataKey="condId"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 60px">ID</th>
                <th>Description</th>
                <th style="width: 70px">Value</th>
                <th style="width: 120px">DataSet</th>
                <th style="width: 140px">Field</th>
                <th style="width: 120px">Cond Values</th>
                <th style="width: 120px">Field Values</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr [pSelectableRow]="row" [class.row-selected]="selectedRuleRow === row">
                <td>{{ row.condId }}</td>
                <td>{{ row.condDescr }}</td>
                <td class="rule-value">{{ row.condValue }}</td>
                <td>{{ row.dataSetName || '-' }}</td>
                <td>{{ row.fieldName || '-' }}</td>
                <td class="cond-values">{{ formatFieldValues(row.dataSetCondValues) }}</td>
                <td class="field-values">{{ formatFieldValues(row.fieldValues) }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      }
    </div>
  </div>
</div>

<!-- SQL Dialog -->
<p-dialog
  [(visible)]="sqlPopupVisible"
  [header]="sqlPopupTitle"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [style]="{width: '800px', height: '600px'}"
  styleClass="sql-dialog"
>
  <div class="sql-content">
    <div class="sql-toolbar">
      <ion-button size="small" (click)="copySQLToClipboard()">
        <ion-icon slot="start" name="copy-outline"></ion-icon>
        Copy
      </ion-button>
    </div>
    <pre class="sql-code">{{ sqlCode }}</pre>
  </div>
</p-dialog>

<!-- JSON Dialog -->
<p-dialog
  [(visible)]="jsonVisible"
  [header]="jsonDataTitle"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [style]="{width: '700px', height: '500px'}"
  styleClass="json-dialog"
>
  <pre class="json-content">{{ jsonDataString }}</pre>
</p-dialog>
