// Larghezza minima del componente debug
:host {
    display: block;
    min-width: 1400px;
    width: 100%;
}

// Regola generale per texteditor readonly
::ng-deep .dx-texteditor.dx-editor-filled.dx-state-readonly .dx-texteditor-input {
    background-color: rgb(187, 214, 240);
    color: rgb(7, 0, 0);
}

.debugForm {
    background-color: rgb(235, 244, 253);
    border-radius: 5px;
    border: 1px solid rgb(23, 36, 155);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    float: left;
    padding: 10px;
}

.pageHeader {
    background-color: rgb(252, 225, 230);
    color: rgb(126, 11, 11);
    font-weight: bold;
    border-left: 10px;
}

.dataAdapterHeader {
    background-color: rgb(198, 250, 198);
    color: rgb(9, 102, 37);
    font-weight: bold;
    border-left: 10px;
}

.selectedRowText {
    color: darkblue;
    font-weight: bold;
    border-left: 10px;
    padding: 5px;
    width: 200px; 
    font-size: 12px; 
    font-style: italic;
}

.actionDebug {
    color: rgb(48, 4, 4);
    font-weight: bold;
    font-size: large;
    border: 1px solid rgb(48, 4, 4);
    margin-bottom: 20px;
    width: 510px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    // center text
    text-align: center;
}

.actionDebugActive {
    color: rgb(48, 4, 4);
    font-weight: bold;
    font-size: large;
    border: 1px solid rgb(48, 4, 4);
    margin: 20px;
    width: 510px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    // center text
    text-align: center;
    background-color: rgb(252, 186, 186);
}

.actionDebugInactive {
    color: rgb(48, 4, 4);
    font-weight: bold;
    font-size: large;
    border: 1px solid rgb(48, 4, 4);
    margin: 20px;
    width: 510px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    // center text
    text-align: center;
    background-color: rgb(187, 214, 240);
}