.gts-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  height: calc(100% - 60px);
  background-color: #dfdede;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.message-toolbar {
  background-color: rgb(116, 156, 236);  
  padding-right: 10px;
}