.gts-lookup-grid {
    background-color: rgb(61, 177, 177);
}

.gts-lookup-toolbar {
    width: 100%;
    background-color: rgb(116, 156, 236);   
    padding-right: 5px; 
}

.lookup-toolbar-panel
{
    height: 40px;
}