.fields {
    float: left;
    padding-right: 10px;
    padding-left: 5px;
    font-size: large;
    font-weight: bold;
}

.mmCode {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    background-color: #f0d8d8;
}

.html-toolbar {
    background-color: rgb(197, 220, 248);
    padding-right: 5px;
    padding-left: 5px;
}

.addData {
    float: left;
    background-color: #dbe8f8;
    padding: 8px;
    width: 800px;
    height: 50px;
    border: 1px solid gray; 
}

.addDataInput {
    float: left;
    margin-right: 10px;
}

.saveButton {
    float: right;
    margin-top: 5px;
}

.languageData {
    float: left;
    width: 800px;
}
