// .gtsGrid {
//   // height: 100%;
//   border: solid 1px #acabab;
//   //float: left;
// }

// Host element deve permettere overflow
:host {
  display: block;
  overflow-x: auto;
  max-width: 100%;
}

// Wrapper responsive per la griglia
.gts-grid-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;

  > div {
    width: 100%;
  }
}

.gtsGridTitle {
  padding-top: 10px;
  height: 40px;
  width: 100%;
  border-bottom: solid 1px #acabab;;
  text-align: center;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.grid001 {
  // height: 100%;
  //width: 100%;
  border: solid 1px #acabab;;
  //float: left;
  background-color: rgb(164, 191, 245);
}

.grid002 {
  // height: 100%;
  border: solid 1px #acabab;;
  float: left;
  background-color: #c1fcd7;
}

.grid003 {
  // height: 100%;
  width: 500px;
  border: solid 1px #acabab;;
  float: left;
  background-color: rgb(193, 252, 215);
}

.grid004 {
  // height: 100%;
  width: 250px;
  border: solid 1px #acabab;;
  float: left;
  background-color: rgb(164, 191, 245);
}

.grid005 {
  // height: 100%;
  width: auto;
  border: solid 1px #acabab;;
  float: left;
  background-color: rgb(164, 191, 245);
}

.grid006 {
  width: 500px;
  border: solid 1px #acabab;;
  float: left;
  background-color: rgb(247, 213, 170);
}

.grid007 {
  width: 450px;
  border: solid 1px #acabab;;
  float: left;
  background-color: #c1fcd7;
}

.grid002right {
  // height: 100%;
  border: solid 1px #acabab;;
  float: right;
  background-color: #c1fcd7;
}

.grid004right {
  // height: 100%;
  border: solid 1px #acabab;;
  float: right;
  background-color: rgb(164, 191, 245);
}