<div class="gts-grid-wrapper">
  <div
    [class]="gridObject.cssClass"
    [style.max-width.px]="gridObject.width"
    >
    @if (showTitle) {
      <div
        class = "gtsGridTitle"
        >
        {{gridTitle}}
      </div>
    }

    <dx-data-grid
    [id]="objectName"
    [repaintChangesOnly]="true"
    [height]="gridObject.height"
    [width]="gridWidth"
    [visible]="gridReady && gridObject.visible"
    [disabled]="gridObject.disabled"
    [dataSource]="dataSource"
    [columns]="dataColumns"
    [showBorders]="true"
    [allowColumnResizing]="gridObject.allowColumnResizing"
    [columnAutoWidth]="true"
    [showRowLines]="true"
    [showColumnLines]="true"
    [allowColumnReordering]="gridObject.allowColumnReordering"
    [rowAlternationEnabled]="true"
    [focusedRowEnabled]="gridObject.focusedRowEnabled"
    [summary]="summaryColumns"
    [(selectedRowKeys)]="selectedRows"
    [(focusedRowKey)]="focusedRowKey"
    (onInitialized)="gridInitialized($event)"
    (onRowDblClick)="dblClickHandler($event)"
    (onSelectionChanged)="selectionChangedHandler($event)"
    (onExporting)="onExporting($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onSaved)="onSaved($event)"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    (onEditCanceled)="onEditCanceled($event)"
    (onKeyDown)="onKeyDown($event)"
    (onContentReady)="onContentReady($event)"

    ><dxo-header-filter
    [visible]="gridObject.allowHeaderFiltering"
  ></dxo-header-filter>
  <dxo-load-panel
    [enabled]="false"
  ></dxo-load-panel>
  <dxo-filter-row
    [visible]="gridObject.filterRowVisible"
  ></dxo-filter-row>
  <dxo-filter-panel
    [visible]="gridObject.filterRowVisible"
  ></dxo-filter-panel>
  <dxo-search-panel
    [visible]="gridObject.searchPanelFlag"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>
  <dxo-scrolling
    mode="standard"
  ></dxo-scrolling>
  <dxo-paging
    [pageSize]="gridObject.pageSize">
  </dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="gridObject.showPageSizeSelector"
    [showNavigationButtons]="gridObject.showPageSizeSelector"
    [showInfo]="gridObject.showPageSizeSelector"
    [allowedPageSizes]="gridObject.allowedPageSizes"
  ></dxo-pager>
  <dxo-export
    [enabled]="gridObject.exportFlag"
    [allowExportSelectedData]="gridObject.exportFlag"
    [formats]="gridObject.exportFormats"
    [fileName]="gridObject.exportFileName"
  ></dxo-export>
  <dxo-selection
    [showCheckBoxesMode]="gridObject.showCheckBoxesMode"
    [mode]="gridObject.selectionMode"
    [selectAllMode]="gridObject.selectAllMode"
    showCheckBoxesMode="always"
  ></dxo-selection>
  <dxo-state-storing
    [enabled]="false"
    type="sessionStorage"
    [storageKey]="objectName"
  ></dxo-state-storing>
  <dxo-editing
    mode="batch"
    [allowAdding]="allowInserting"
    [allowDeleting]="allowDeleting"
    [allowUpdating]="allowUpdating"
  ></dxo-editing>

  <dxo-row-dragging
    [data]="gridObject.DDStatus"
    [group]="gridObject.DDStatus > 0 ? gridObject.DDTasksGroup : undefined"
    [onAdd]="onAdd"

  ></dxo-row-dragging>

  <ng-container *dxTemplate="let data of 'cellTemplate'">
    <img [src]="getImage(data)" />
  </ng-container>
</dx-data-grid>
  </div>
</div>

<!-- <ng-container *ngFor="let element of lookUps"> -->
<app-gts-lookup
  [prjId]="prjId"
  [formId]="formId"
  [gridName]="objectName"
  (newLookUpEvent)="lookUpSubmitEvent($event)"
></app-gts-lookup>
<!-- </ng-container> -->


