::ng-deep .dx-texteditor.dx-editor-filled.dx-state-readonly .dx-texteditor-input {
    color: rgb(7, 0, 0);
}

// ::ng-deep .dx-texteditor.dx-editor-filled.dx-state-readonly .dx-checkbox {
//     padding-left: 10px;
// }

.form001Title {
    height: 40px;
    width: 100%;
    border-top: solid 1px #a5a3a392;
    border-left: solid 1px #a5a3a392;
    border-right: solid 1px #a5a3a392;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(171, 195, 243);
    color: rgb(16, 16, 179);
}

.form001Body {
    border: solid 1px #a5a3a392;
    background-color: rgb(252, 246, 246);
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight:normal;    
}

.form001Toolbar {
    width: 100%;
    height: 80px;
}

::ng-deep .form001Field.dx-texteditor.dx-editor-filled {
    width: 100%;
    background-color: rgb(234, 235, 247);
    font-weight: normal;
    float: left;
}


.form001FieldError {
    width: calc(100% - 50px);
    background-color: red;
    font-weight: normal;
    float: left;
}

::ng-deep .form001PKField.dx-texteditor.dx-editor-filled.dx-state-readonly .dx-texteditor-input {
    background-color: rgb(187, 214, 240);
    color: rgb(23, 36, 155);
}

::ng-deep .form001PKField.dx-radiogroup {
    background-color: rgb(187, 214, 240);
    color: rgb(23, 36, 155);
}


.form001LookUpPKField {
    width: calc(100% - 50px);
    float: left;
}

::ng-deep .dx-editor-filled.dx-state-readonly .dx-texteditor-input {
    background-color: rgb(191, 215, 238);
    color: rgb(7, 0, 0);
}

.form001LookUpField {
    width: calc(100% - 50px);
    float: left;
}

::ng-deep .dx-radiogroup {
    background-color: rgb(234, 235, 247);  
    padding-left: 5px; 
}
::ng-deep .form001RoField.dx-radiogroup {
    background-color: rgb(111, 111, 112);  
    color: white;
    padding-left: 5px; 
}


.lookUpButton {
    background-color: rgb(234, 235, 247);  
    float:right;
    padding-left: 12px;
    border: solid 1px #7e7d8392;
    width: 30px;
    height: 32px;
}

::ng-deep .form001GroupHdr.dx-texteditor.dx-editor-filled.dx-state-readonly .dx-texteditor-input {
    background-color: rgb(86, 99, 126);
    text-align: center;
    color:whitesmoke;
    height: 24px;
} 

