<!-- <input appDelayedFocusout (delayedFocusout)="gtsChangingHandler($event)"> -->

@if (formReady) {
  <div
    #allFields
    >
    @if (showTitle && !showPopUp) {
      <div
        [class]="formCSSTitle"
        [style]="formTitleStyle"
        >
        {{formTitle}}
      </div>
    }
    <div
      [style]="formStyle"
      >
      <div
        [class]="formCSSBody"
        [style]="formLayout"
        >
        @for (element of formData; track element) {
          @if (element.editorType === 'GroupHdr') {
            <dx-text-box
              [style]="element.style"
              [class]="element.cssClass"
              [inputAttr]="{'aria-label': element.objectName }"
              [label]="element.label"
              [id]="element.fieldId"
              [stylingMode]="metaData.stylingMode"
              [labelMode]="metaData.labelMode"
              [(value)]="element.value"
              [readOnly]="element.readOnly"
              [tabIndex]="element.tabIndex"
            ></dx-text-box>
          }
          @if (element.editorType === 'RadioGroup') {
            <dx-radio-group
              [style]="element.style"
              [class]="element.cssClass"
              [items]="element.radioValues"
              [value]="element.radioValues[element.radioIndex]"
              [readOnly]="element.readOnly"
              (onValueChanged)="onFieldDataChanged($event, element)"
              >
            </dx-radio-group>
          }
          @if (element.editorType === 'TextBox') {
            <dx-text-box
              [style]="element.style"
              [inputAttr]="element.inputAttr"
              [class]="element.cssClass"
              [inputAttr]="{'aria-label': element.objectName }"
              [label]="element.label"
              [id]="element.fieldId"
              [stylingMode]="metaData.stylingMode"
              [labelMode]="metaData.labelMode"
              [(value)]="element.value"
              [disabled]="element.disabled"
              [visible]="element.visible"
              [readOnly]="element.readOnly"
              (onValueChanged)="onFieldDataChanged($event, element)"
              (onInitialized)="onFieldInitialized($event, element)"
              (onFocusOut)="onFieldFocusOut($event, element)"
            ></dx-text-box>
          }
          @if (element.editorType === 'TextBoxRO') {
            <dx-text-box
              [style]="element.style"
              [class]="element.cssClass"
              [inputAttr]="{'aria-label': element.objectName }"
              [label]="element.label"
              [id]="element.fieldId"
              [stylingMode]="metaData.stylingMode"
              [labelMode]="metaData.labelMode"
              [(value)]="element.value"
              [disabled]="element.disabled"
              [visible]="element.visible"
              [readOnly]="element.readOnly"
              (onValueChanged)="onFieldDataChanged($event, element)"
              (onInitialized)="onFieldInitialized($event, element)"
              (onFocusOut)="onFieldFocusOut($event, element)"
              [tabIndex]="element.tabIndex"
            ></dx-text-box>
          }
          @if (element.editorType === 'CheckBox') {
            <dx-check-box
              [style]="element.style"
              [class]="element.cssClass"
              [text]="element.label"
              [(value)]="element.value"
              [disabled]="element.disabled"
              [readOnly]="element.readOnly"
              (onValueChanged)="onFieldDataChanged($event, element)"
              (onInitialized)="onFieldInitialized($event, element)"
              (onFocusOut)="onFieldFocusOut($event, element)"
            ></dx-check-box>
          }
          @if (element.editorType === 'DateBox') {
            <dx-date-box
              displayFormat="dd/MM/yyyy"
              [style]="element.style"
              [class]="element.cssClass"
              [label]="element.label"
              [id]="element.fieldId"
              [stylingMode]="metaData.stylingMode"
              [labelMode]="metaData.labelMode"
              [(value)]="element.value"
              [disabled]="element.disabled"
              [readOnly]="element.readOnly"
              (onValueChanged)="onFieldDataChanged($event, element)"
              (onInitialized)="onFieldInitialized($event, element)"
              (onFocusOut)="onFieldFocusOut($event, element)"
            ></dx-date-box>
          }
          @if (element.editorType === 'TextArea') {
            <dx-text-area
              [style]="element.style"
              [class]="element.cssClass"
              [label]="element.label"
              [id]="element.fieldId"
              [stylingMode]="metaData.stylingMode"
              [labelMode]="metaData.labelMode"
              [(value)]="element.value"
              [disabled]="element.disabled"
              [readOnly]="element.readOnly"
              [height]="element.areaHeight"
              (onValueChanged)="onFieldDataChanged($event, element)"
              (onInitialized)="onFieldInitialized($event, element)"
              (onFocusOut)="onFieldFocusOut($event, element)"
            ></dx-text-area>
          }
          @if (element.editorType === 'DropDownBox') {
            <dx-select-box
              [style]="element.style"
              displayExpr="text"
              valueExpr="code"
              [(items)]="element.dropDown"
              [class]="element.cssClass"
              [label]="element.label"
              [id]="element.fieldId"
              [stylingMode]="metaData.stylingMode"
              [labelMode]="metaData.labelMode"
              [(value)]="element.value"
              [disabled]="element.disabled"
              [readOnly]="element.readOnly"
              (onValueChanged)="onFieldDataChanged($event, element)"
              (onInitialized)="onFieldInitialized($event, element)"
              (onFocusOut)="onFieldFocusOut($event, element)"
            ></dx-select-box>
          }
          <div [style]="element.style">
            @if (element.editorType === 'LookUpBox') {
              <dx-text-box
                [class]="element.cssClass"
                [inputAttr]="element.inputAttr"
                [label]="element.label"
                [id]="element.fieldId"
                [stylingMode]="metaData.stylingMode"
                [labelMode]="metaData.labelMode"
                [(value)]="element.value"
                [disabled]="element.disabled"
                [readOnly]="element.readOnly"
                (onInput)="onFieldInput($event, element)"
                (onKeyDown)="onFieldKeyDown($event, element)"
                (onInitialized)="onFieldInitialized($event, element)"
                (onValueChanged)="onFieldDataChanged($event, element)"
              ></dx-text-box>
            }
            @if (element.editorType === 'LookUpBox') {
              <dx-button
                class="lookUpButton"
                icon="/assets/images/lookUp.jpg"
                [focusStateEnabled]="false"
                text=" "
                [elementAttr]="{id: element.objectName, action: 'lookUp'}"
                [disabled]="element.disabled"
                (onClick)="onLookUpButtonClick($event)"
              ></dx-button>
            }
          </div>
          <div [style]="element.style">
            @if (element.editorType === 'TextButtonBox') {
              <dx-text-box
                [class]="element.cssClass"
                [inputAttr]="element.inputAttr"
                [label]="element.label"
                [id]="element.fieldId"
                [stylingMode]="metaData.stylingMode"
                [labelMode]="metaData.labelMode"
                [(value)]="element.value"
                [disabled]="element.disabled"
                [readOnly]="element.readOnly"
                [focusStateEnabled]="element.focusStateEnabled"
                [mode]="element.mode"
                (onInput)="onFieldInput($event, element)"
                (onValueChanged)="onFieldDataChanged($event, element)"
                (onInitialized)="onFieldInitialized($event, element)"
                (onFocusOut)="onFieldFocusOut($event, element)"
              ></dx-text-box>
            }
            @if (element.editorType === 'TextButtonBox') {
              <dx-button
                [id]="element.fieldId+10000"
                class="lookUpButton"
                [icon]="element.buttonIcon"
                [hint]="element.buttonText"
                [focusStateEnabled]="false"
                [disabled]="element.disabled"
                text=" "
                [elementAttr]="{id: element.objectName, action: element.buttonAction}"
                (onClick)="onActionButtonClick($event)"
              ></dx-button>
            }
          </div>
        }
      </div>
      @if (showToolbar) {
        <app-gts-toolbar
          style="grid-area: toolbar;"
          [customCssClass]="formCSSToolbar"
          [prjId]="prjId"
          [formId]="formId"
          [objectName]="objectName"
          (newValueEvent)="toolbarSubmitEvent($event)"
        ></app-gts-toolbar>
      }
    </div>
    <app-gts-lookup
      [prjId]="prjId"
      [formId]="formId"
      (newLookUpEvent)="lookUpSubmitEvent($event)"
    ></app-gts-lookup>
  </div>
}





