<p-dialog
  [(visible)]="visible"
  [header]="gridTitle"
  [modal]="!actionsDebugActive"
  [blockScroll]="!actionsDebugActive"
  [closeOnEscape]="false"
  [closable]="false"
  [draggable]="true"
  [resizable]="false"
  [focusTrap]="false"
  [appendTo]="'body'"
  styleClass="gts-grid-popup-dialog"
  [maskStyleClass]="actionsDebugActive ? '' : 'gts-modal-mask'"
  [style]="{width: gridWidth + 'px', height: gridHeight + 'px'}"
  (onShow)="onShow()"
  (onHide)="onHide()">
  @if (showToolbar) {
    <app-gts-toolbar
      [prjId]="prjId"
      [formId]="formId"
      [objectName]="objectName"
      (newValueEvent)="gtsDataService.toolbarSelectEvent($event)">
    </app-gts-toolbar>
  }
  <app-gts-grid
    [prjId]="prjId"
    [formId]="formId"
    [objectName]="objectName">
  </app-gts-grid>
</p-dialog>
