@if (!loading) {
  <dx-responsive-box singleColumnScreen="sm">
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-row [ratio]="1"></dxi-row>
    <dxi-col [ratio]="1"></dxi-col>
    <dxi-col [ratio]="4" screen="lg"></dxi-col>
    <dxi-item>
      <dxi-location [row]="0" [col]="0" screen="lg" [rowspan]="2"></dxi-location>
      <dxi-location [row]="0" [col]="0" screen="sm"></dxi-location>
      <div *dxTemplate class="left-side item">
        <div class="gts-items-title">
          <span>{{pageTitle}}</span>
        </div>
        <div class="gts-items-list">
          <dx-list
            [items]="itemsList"
            height="100%"
            [showSelectionControls]="true"
            selectionMode="single"
            (onSelectionChanged)="onItemClick($event)"
            (onInitialized)="onListInitialized($event)"
            >
            <div *dxTemplate="let item of 'item'">
              <div>{{ item.text }}</div>
            </div>
          </dx-list>
        </div>
      </div>
    </dxi-item>
    <dxi-item>
      <dxi-location [row]="0" [col]="1" screen="lg" [rowspan]="2"></dxi-location>
      <dxi-location [row]="1" [col]="0" screen="sm"></dxi-location>
      <div *dxTemplate class="data-content item">
        @if (pdfSelected && !loading && flagPdfRpt === 'rpt') {
          <dx-tabs
            id="gtsTabs"
            width="auto"
            [dataSource]    = "reportTabs"
            [selectedIndex] = "reportTabsIndex"
            (onItemClick)   = "selectReportTab($event)"
          ></dx-tabs>
        }
        @if (showDoc && pdfSelected) {
          <app-gts-pdf [fileName]="pdfFileName"></app-gts-pdf>
        }
        @if (showRpt && pdfSelected && reportTabsIndex === 0) {
          <app-gts-pdf [base64PdfStream]="base64PdfStream"></app-gts-pdf>
        }
        @if (showRpt && pdfSelected && reportTabsIndex === 1) {
          <dx-data-grid
            id="reportGrid"
            height="80%"
            [dataSource]="reportDataSource"
            [columns]="reportCols"
            [showBorders]="true"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [showRowLines]="true"
            [showColumnLines]="true"
            [allowColumnReordering]="true"
            [rowAlternationEnabled]="true"
            [focusedRowEnabled]="false"
            ><dxo-export [enabled]="true"></dxo-export>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-search-panel
              [visible]="true"
              [highlightCaseSensitive]="true"
            ></dxo-search-panel>
          </dx-data-grid>
        }
      </div>
    </dxi-item>
  </dx-responsive-box>
}