<ng-container>
  <dx-popup
    [hideOnOutsideClick]="false"
    [showCloseButton]="true"
    [(visible)]="fileUploadVisible"
    [title]="uploaderTitle"
    [height]="250"
    [width]="500"
    >
    <dx-file-uploader
      [multiple]="false"
      [uploadFile]="fileUploadTD"
      uploadMode="useButtons"
      [allowedFileExtensions]="allowedExtensions"
      [maxFileSize]="maxFileSize"
      (onInitialized)="onFileUploadInitialized($event)"
    ></dx-file-uploader>
  </dx-popup>

  @if (loading) {
    <app-gts-loader></app-gts-loader>
  }
</ng-container>
